<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNM_D5d6Yjqqps8VAfZd4GTLLQ5MTVvag&libraries=places"></script>
<div layout="column" flex="100" layout-fill>
    <md-toolbar class="md-toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" flex="10" aria-label="Menu" layout-align="center">
                <i class="material-icons">menu</i>
            </md-button>
            <h2 layout-align="center" flex="80">FastMed</h2>
        </div>
    </md-toolbar>
    <div layout="row" flex="10">
        <div flex="10"></div>

    </div>
    <div layout="row">
        <div layout="column" flex="30">
            <md-input-container layout-align="center center" flex="10">
                <label>Keyword (Required)</label>
                <input ng-model="searchCriteria.keywords">
            </md-input-container>
            <md-button class="md-primary" flex="5" class="md-raised" ng-click="searchMaps(searchCriteria)">Search</md-button>
        </div>
        <div flex="40" id="mapDiv" style="height:700px"></div>
        <div layout="column" flex="30">
            <md-content>
                <md-card ng-repeat="result in query_results" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{result.name}}</span>
                            <span class="md-subhead">{{result.formatted_address}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"><img ng-src="{{result.icon}}"></img></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="viewProfile(result, '/hospital_profile')">More Information</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </div>
    </div>
</div>
<script>google.maps.event.trigger(map, 'resize');</script>